:root
  // COLORS
  --color-grey: #262626
  --color-white: #F1F1F1
  --color-black: #000000

  --color-background: #a0b6f1

  --color-one: #F385F5
  --color-two: #F2FEC2
  --color-three: #A1115C
  --color-four: #18ecad

  --color-twitter: #00acee

  // FONTS
  --font-annie: 'Annie Use Your Telescope', cursive
  --font-poppins: 'Poppins', sans-serif

  // GLOBAL
  --nick-bs-size: -4px
  --nick-bs-inter: 2px